{% extends 'twitter/base.html' %}
{% block content %}
    {% for tweet in tweets %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                        <small class="text-muted">{{ tweet.creation_date|date:"F d, Y" }}</small>
                        <small class="text-muted">by {{ tweet.author }}</small>
                </div>
                <p class="article-content">{{ tweet.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}